* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    background-image: url(images/section-1-background.avif);
    background-size: cover;
    align-items: center;
}

.title-background {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 20vh;
    width: 100%;
    font-size: 2.5rem;
    margin-top: 8rem;
}

.title-background img {
    height: 15vh;
}

@font-face {
    font-family: Odin;
    src: url(fonts/Norse-Bold.otf);
}

.title-background h1 {
    font-family: Odin;
}

.section-1 p {
    color: white;
    position: absolute;
    bottom: 0;
}

.section-1 a:visited {
    color: white;
}

.intro {
    font-size: 1.2rem;
    font-weight: 600;
}

input, button {
    font: inherit;
}

.section-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 1.5rem;
}

.section-2 > p {
    padding-left: 2rem;
    padding-right: 12rem;
}

form {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 12rem 1rem 2rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

form + p {
    font-weight: 600;
}

.section-2 a {
    color: #596D48;
}

.section-2 a:visited {
    color: #596D48;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    padding: 0.5rem 0rem;
}

.input-wrapper input {
    width: 70%;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 0.5rem;
}

.input-wrapper label {
    font-size: 0.8rem;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    width: 25%;
    margin-left: 2rem;
}